/*
	Theme Name: Goffer Law
	Theme URI:
	Description: Custom wordpress theme for Goffer Law
	Version: 1.4.3
	Author: TwoTree Design Co (@toddmotto)
	Author URI: http://twotreedesignco.com
	Tags: Custom, HTML5, CSS3


*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

body {
	font-size:16px;
    font-family: 'Merriweather', serif;
	color:#444;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    GRID
\*------------------------------------*/
.row{position: relative; max-width: 980px; margin: 0 auto; padding: 0; zoom:1;}
.row:before,.row:after{clear: both; content: ''; display: table;}
.col{float: left; display: block; margin: 0 0.25%;}
.col_1{width: 100%;}
.col_2{width:49.2%;}
.col_3{width:32.26%;}
.col_4{width:23.8%;}
.offset{float:right;}
@media all and (max-width:992px){
 .row{max-width: 960px; zoom:1;}
 .col,.col_1,.col_2,.col_3,.col_4,.offset{float:none; display: block;width:90%; margin:0 auto; padding:0 2.5%;}
}
@media all and (max-width:786px){}
@media all and (max-width:600px){}
@media all and (max-width:480px){}





/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  margin: 0;
  text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
}


.tera {
  font-size: 117px;
  font-size: 6.5rem; /* 117 / 18 = 6.5 */
  margin-bottom: 4.56923px;
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 90px;
  font-size: 5rem; /* 90 / 18 = 5 */
  margin-bottom: 5.94px;
  margin-bottom: 0.33rem;
}

.mega {
  font-size: 72px;
  font-size: 4rem; /* 72 / 18 = 4 */
  margin-bottom: 7.425px;
  margin-bottom: 0.4125rem;
}


.alpha {
  font-size: 60px;
  font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
  margin-bottom: 8.91px;
  margin-bottom: 0.495rem;
}

.beta {
  font-size: 48px;
  font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 11.1375px;
  margin-bottom: 0.61875rem;
}


.gamma {
  font-size: 36px;
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 14.85px;
  margin-bottom: 0.825rem;
}

.delta {
  font-size: 24px;
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 22.275px;
  margin-bottom: 1.2375rem;
}

.epsilon {
  font-size: 21px;
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 25.45714px;
  margin-bottom: 1.41429rem;
}

.zeta {
  font-size: 18px;
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 29.7px;
  margin-bottom: 1.65rem;
}



/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

/* Header */
header{
  position: fixed;
  background: #f8f8f8;
  background: rgba(248, 248, 248, 0.95);
  height: 80px;
  width: 100%;
  line-height: 80px;
  z-index: 9001;
  top: 0;
}

header .row{line-height: 40px;}

/* Main Nav */
nav.header-main-nav ul {
 list-style: none;
  margin: 0;
  padding: 5px 0;
  line-height: 1;
  display: block;
  text-align: right;
  float: right;
}

nav.header-main-nav ul:after{content:''; clear:both; display:block;}

nav.header-main-nav ul li{
   float:left;
   margin:0;
   padding: 0;
   border-right:1px solid #ddd;

}

nav.header-main-nav ul li a{
 font-size: 0.9em;
 color: #999;
 padding: 0 10px;
}

nav.header-main-nav ul li:last-child{border:none;}

.col.col_2.ulitity {line-height:40px; text-align:right;}
.col.col_2.ulitity a, .col.col_2.ulitity h4{display:inline-block;}
.col.col_2.ulitity a{color:#999; margin-left:10px;}

@media all and (max-width:992px){
.col.col_2.ulitity{display: none;}
nav.header-main-nav {
    position: fixed;
    width: 350px;
    height: 100%;
    right:-350px;
    top:0;
    background:rgba(0,0,0,0.7)
}

nav.header-main-nav ul{float:none;}
nav.header-main-nav ul li{
    display:block;
    float:none;
    border:none;
    text-align:left;
    line-height:36px;
    color:#111;
    padding-left:20px;

}

nav.header-main-nav ul li a{
    font-size:2rem;
    color:#f8f8f8;

}

  .mobile-toggle{
   display: block;
   position: absolute;
   height:80px;
   width:80px;
   right: 0;
   top:0;
   transition: 0.2s all ease;
  }

    .mobile-toggle span,.mobile-toggle span:after,.mobile-toggle span:before{
     content:'';
     position: absolute;
     width:36px;
     height: 3px;
     left:22px;
     background: #999;
     color:#999;
     display: block;
    }
.mobile-toggle:after{content:'Menu'; display:block; color:#999; font-weight:400; font-size:1.2rem; text-align:center; width:80px; bottom:4px; position:absolute;}
.mobile-toggle span {top: 30px; transition:0.2s all ease;}
.mobile-toggle span:before{top:-8px; left:0;}
.mobile-toggle span:after{top:8px;left:0;}

}
@media all and (max-width:768px){}
@media all and (max-width:600px){}
@media all and (max-width:480px){}





/* Hero */
.hero{
   padding: 120px 0px 60px;
  position: relative;
  min-height: 100%;
  height: auto;

}
.hero .row{
    z-index:900;
}

/* Body
 --Content
 --Home
 --Service Pages
 --Contecat Page
 --About Us
*/

/* Home */
.hero.home {
    background: url(http://images.veer.com/stock-photos/Law-and-Order-2183633.jpg) no-repeat center center;
    background-size: cover;
}

.hero.home:after{
 content:'';
 display:block;
 z-index:0;
 background:rgba(0,0,0,0.45);
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;

}


.service-module.home {
    background: #fff;
    margin: 10px 0px;
    width: 95%;
}

.service-module.home:after{clear:both; content:''; display:block;}

img.service-thumb {
    float: left;
    max-width: 33.333%;
}


.service-info {
   float: left;
  display: block;
  width: 64.666%;
  padding: 20px 2%;
}

.service-info p {
    margin: 0;
    font-size: 0.8em;
}

@media all and (max-width:480px){
img.service-thumb {
max-width: 100%;
width: 100%;
float:none;
}

.service-info {
    float: none;
    width: 90%;
    padding: 18px 5%;
}

.service-module.home {
    width: 100%;
}

}


.what-is {
    font-size: 2rem;
  color: #fff;
  padding: 10px 0px 20px;

}

.what-is p {
    margin: 0;
}

.what-is ul {
    font-size:0.85em;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    margin-bottom: 15px;
}

.what-is li {
    margin-bottom: 10px;
    font-size: 1.05em;
}


.home-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.26%;
    display: block;
    border: 1px solid #333;
}

.home-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* Settlements */
section.settlements {
    background: #5db000;
    padding: 40px;
}

.settle blockquote {
    position:relative;
    color: #fff;
    font-size: 2.5rem;
    text-align:center;
}

.settle blockquote:before{
 content:open-quote;
 position:absolute;
 left:0px;
 font-size:3rem;
 font-weight:bolder;
}
.settle blockquote p:after{content:close-quote;}
.settle cite{text-align:center; line-height:50px;}
.settle cite img{display:inline-block; width:50px; height:50px; border-radius:50%;}

@media all and (max-width:992px){}
@media all and (max-width:768px){}
@media all and (max-width:480px){section.settlements{display:none;}}

/* News */
section.news {
    background: #f9f9f9 url(http://static.pexels.com/wp-content/uploads/2014/06/camera-desk-earphone-915.jpg) no-repeat center center;
    padding: 30px 0px;
    position:relative;
}

section.news:before{
  content:'';
  background:rgba(0,0,0,0.4);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;

}


/* Footer */

